.list-characters{
    .header{
        height: 60px;
        font-size: large !important;
        text-align: center;
        font-style: italic;
    }

    .image {
        height: 300px;
        display: flex !important;
    }
}

.container-button{
    text-align: center;
    width: 100%;
    padding: 30px 0;
}